.next/
node_modules/
public/works/*
.prettierrc
.DS_Store
beats.txt
s.mp3
test.html
.gitignore
public/images/wenodes monogram b copy.png
test.py
out/
public/team/*
graphify-out/*
.web/*
DS_Store

.image-originals/
